<!-- Muestra el componente <app-header> solo si el usuario está logueado -->
    <app-header *ngIf="logueado"></app-header>

<!-- Muestra un componente para acciones de productos, también solo si el usuario está logueado -->
<app-product-actions *ngIf="logueado"></app-product-actions>
    
<!-- Componente de barra de búsqueda. Cuando el usuario escribe en el campo de búsqueda, 
se emite el evento 'searchProducto' y se captura el valor en la función 'onSearchProducto' del componente padre -->
<app-search-bar (searchProducto)="onSearchProducto($event)"></app-search-bar>


<!-- Muestra un componente de imagen de carga si la variable 'cargandoWarning' es verdadera -->
<app-loading-image *ngIf="showingLoading"></app-loading-image>


<!-- Componente que muestra el botón con el conteo de productos, 
el valor de 'cantidadProductos' se pasa desde el componente padre -->
<app-product-count-button [cantidadProductos]="numeroProductos"></app-product-count-button>

<!-- Muestra una tabla solo si la variable 'cargado' es verdadera (indica que los datos ya están cargados) -->
<table class="table"  *ngIf="dataLoaded">
    <thead>
        <tr> 
            <th>Nombre</th>
            <th *ngIf="logueado" >precio de costo</th>
            <th *ngIf="logueado">porcentaje ganancia</th>
            <th>precio final</th>
            <th *ngIf="logueado">editar</th>
            <th *ngIf="logueado">eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of lista | buscador:search">
            <td>{{ producto.nombre }}</td>
            <td *ngIf="logueado">{{ producto.precioCosto }}</td>
            <td *ngIf="logueado">{{ producto.porcentajeGanancia }}</td>
            <td>{{ producto.precioFinal }}</td>
            <td *ngIf="logueado"><button type="button" routerLink="../editar-producto/{{producto._id}}" class="btn btn-primary">edit</button></td>
            <td *ngIf="logueado"><button type="button" class="btn btn-danger" (click)="eliminar(producto._id)">eliminar</button></td>
        </tr>
    </tbody>
</table>   

